streamlit==1.46.0
pandas==2.3.0
scikit-learn==1.7.0
numpy==1.26.4
plotly
nltk==3.9.1
altair==5.5.0
joblib==1.5.1
beautifulsoup4==4.13.4
lxml==5.3.0
readability-lxml==0.8.4.1
newspaper4k==0.9.3.1
news-please==1.6.15
langdetect==1.0.9
requests
pytz==2025.2
python-dateutil==2.9.0.post0
chardet==5.2.0
charset-normalizer
idna
urllib3
click==8.2.1
MarkupSafe==3.0.2
Jinja2==3.1.6
Werkzeug==3.1.3
itsdangerous==2.2.0
pillow==11.2.1
tqdm==4.67.1
async-timeout==5.0.1
attrs
Bottleneck
Brotli
cachetools==6.1.0
certifi
cffi
colorama==0.4.6
constantly
cryptography
defusedxml
filelock
hyperlink
incremental
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lxml_html_clean==0.4.2
packaging
protobuf==6.31.1
pyasn1
pyasn1-modules==0.2.8
pycparser
pydeck==0.9.1
pyOpenSSL
PySocks
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
rpds-py==0.25.1
scipy==1.15.3
service-identity
six==1.17.0
tenacity==9.1.2
threadpoolctl==3.6.0
tldextract
tornado==6.5.1
typing_extensions
tzdata==2025.2
zope.interface
